<%= form_for(@costume) do |f| %>
  <% if @costume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@costume.errors.count, "error") %> prohibited this costume from being saved:</h2>

      <ul>
      <% @costume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="field">
        <%= f.label :cid, "ID #" %><br>
        <%= f.number_field :cid %>
      </div>
      <div class="field">
        <%= f.label :category, "Category" %><br>
        <%= f.text_field :category %>
      </div>
      <div class="field">
        <%= f.label :primary, "Primary Color" %><br>
        <%= f.text_field :primary %>
      </div>
      <div class="field">
        <%= f.label :secondary, "Secondary Color" %><br>
        <%= f.text_field :secondary %>
      </div>
      <div class="field">
        <%= f.label :period, "Time Period" %><br>
        <%= f.text_field :period %>
      </div>
      <div class="field">
        <%= f.label :label %><br>
        <%= f.text_field :label %>
      </div>
      <div class="field">
        <%= f.label :special, "Special Features" %><br>
        <%= f.text_field :special %>
      </div>
      <div class="field">
        <%= f.label :wd, "W/D" %><br>
        <%= f.text_field :wd %>
      </div>
      <div class="field">
        <%= f.label :value %><br>
        <%= f.text_field :value %>
      </div>
      <div class="field">
        <%= f.label :photo %><br>
        <%= f.file_field :photo %>
      </div>
      <div class="field">
        <%= f.label "Lost?" %><br>
        <%= f.check_box :lost %>
      </div>
      <div class="field">
        <%= f.label "In?" %><br>
        <%= f.check_box :back %>
      </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
