<%= form_for(@costume) do |f| %>
  <% if @costume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@costume.errors.count, "error") %> prohibited this costume from being saved:</h2>

      <ul>
      <% @costume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cid %><br>
    <%= f.number_field :cid %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :wd %><br>
    <%= f.text_field :wd %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :back %><br>
    <%= f.check_box :back %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
