<%= form_for(@costume) do |f| %>
  <% if @costume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@costume.errors.count, "error") %> prohibited this costume from being saved:</h2>

      <ul>
      <% @costume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td><div class="field">
        <%= f.label :cid %><br>
        <%= f.number_field :cid %>
      </div></td>
      <td><div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
      </div></td>
      <td><div class="field">
        <%= f.label :wd %><br>
        <%= f.text_field :wd %>
      </div></td>
      <td><div class="field">
        <%= f.label :photo %><br>
        <%= f.file_field :photo %>
      </div></td>
      <td><div class="field">
        <%= f.label :back %><br>
        <%= f.check_box :back %>
      </div></td>
    </tr>
  </table>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
