<h1>Listing costumes</h1>

<p><%= link_to "Search for a Costume", new_search_path %></p>

<div class="pull_right">
  <table border="1">
    <tr class="out"><td>This costume is currently out.</td></tr>
    <tr class="lost"><td>This costume is currently lost.</td></tr>
  </table>
</div>

<table border="1">
  <thead>
    <tr>
      <th>ID #</th>
      <th>Category</th>
      <th>Primary Color</th>
      <th>Secondary Color</th>
      <th>Time Period</th>
      <th>Label</th>
      <th>Special Features</th>
      <th>W/D</th>
      <th>Value</th>
      <th>Photo</th>
      <th>Lost?</th>
      <th>In?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% (@costumes.sort_by { |costume| costume.cid }).each do |costume| %>
      <% if costume.lost %>
        <tr class="lost">
      <% elsif !costume.back %>
        <tr class="out">
      <% else %>
        <tr>
      <% end %>
        <td><%= costume.cid %></td>
        <td><%= costume.category %></td>
        <td><%= costume.primary %></td>
        <td><%= costume.secondary %></td>
        <td><%= costume.period %></td>
        <td><%= costume.label %></td>
        <td><%= costume.special %></td>
        <td><%= costume.wd %></td>
        <td><%= costume.value %></td>
        <td><%= link_to 'Photo', "http://imgur.com/#{costume.photo}", target: "_blank" %></td>
        <% if costume.lost %><td>Yes</td><% else %><td>No</td><% end %> 
        <% if costume.back %><td>Yes</td><% else %><td>No</td><% end %> 
        <td><%= link_to 'Show', costume %></td>
        <td><%= link_to 'Edit', edit_costume_path(costume) %></td>
        <td><%= link_to 'Destroy', costume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Costume', new_costume_path %>
<%= link_to 'Back', root_path %>
