<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello <%= @agreement.name %>,</p>

    <p>This email is a confirmation of the items you checked out of the 
    Wesleyan University Costume Shop. In borrowing costumes from the 
    collection, you have agreed to the borrowing terms which are attached in 
    this email. Failure to adhere to these terms will result in fines charged 
    to your student account. Your lending agreement follows.</p>
    <p>Please contact us if you have any questions.</p>

    <p>Thanks,</p>
    <p>The Costume Collection</p>

    <hr />

    <h3>Contact Information</h3>
    <p>
      <b>Name:</b>
      <%= @agreement.name %>

      <b>Telephone:</b>
      <%= number_to_phone(@agreement.phone, :area_code => true) %>
    </p>

    <p>
      <b>Email:</b>
      <%= @agreement.email %>

      <b>Mailbox:</b>
      <%= @agreement.mailbox %>
    </p>

    <br />

    <h3>Performance Information</h3>
    <p>
      <b>Title of Performance:</b>
      <%= @agreement.title %>
    </p>

    <p>
      <b>Performance Start Date:</b>
      <%= (@agreement.start) %>

      <b>Performance End Date:</b>
      <%= (@agreement.end) %>
    </p>

    <p>
      <b>Due Date:</b>
      <%= (@agreement.due) %>

      <b>Financer:</b>
      <%= @agreement.financer %>
    </p>

    <br />

    <h3>Costumes</h3>

    <table border="1">
      <thead>
        <tr>
          <th>ID #</th>
          <th>Category</th>
          <th>Primary Color</th>
          <th>Secondary Color</th>
          <th>Time Period</th>
          <th>Label</th>
          <th>Special Features</th>
          <th>W/D</th>
          <th>Value</th>
          <th>Photo</th>
          <th>Lost?</th>
          <th>In?</th>
        </tr>
      </thead>

      <tbody>
        <% @agreement.costumes.each do |costume| %>
          <tr>
            <td><%= costume.cid %></td>
            <td><%= costume.category %></td>
            <td><%= costume.primary %></td>
            <td><%= costume.secondary %></td>
            <td><%= costume.period %></td>
            <td><%= costume.label %></td>
            <td><%= costume.special %></td>
            <td><%= costume.wd %></td>
            <td><%= costume.value %></td>
            <td><%= link_to 'Photo', "http://imgur.com/#{costume.photo}", target: "_blank" %></td>
            <% if costume.lost %><td>Yes</td><% else %><td>No</td><% end %> 
            <% if costume.back %><td>Yes</td><% else %><td>No</td><% end %> 
          </tr>
        <% end %>
      </tbody>
    </table>

  </body>
</html>

