<%= form_for(@agreement) do |f| %>
  <% if @agreement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agreement.errors.count, "error") %> prohibited this agreement from being saved:</h2>

      <ul>
      <% @agreement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- hello -->
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :mailbox %><br>
    <%= f.text_field :mailbox %>
  </div>
  <div class="field">
    <%= f.label :wesid %><br>
    <%= f.text_field :wesid %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.date_select :end %>
  </div>
  <div class="field">
    <%= f.label :due %><br>
    <%= f.date_select :due %>
  </div>
  <div class="field">
    <%= f.label :financer %><br>
    <%= f.date_select :financer %>
  </div>
  <div class="field">
    <%= f.label :employee %><br>
    <%= f.text_field :employee %>
  </div>


  <%= f.fields_for :costumes do |c| %>
    <div class="field">
      <%= c.label :cid %><br>
      <%= c.number_field :cid %>
    </div>
    <div class="field">
      <%= c.label :description %><br>
      <%= c.text_field :description %>
    </div>
    <div class="field">
      <%= c.label :wd %><br>
      <%= c.text_field :wd %>
    </div>
    <div class="field">
      <%= c.label :photo %><br>
      <%= c.text_field :photo %>
    </div>
    <div class="field">
      <%= c.label :back %><br>
      <%= c.check_box :back %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
