<%= nested_form_for(@agreement) do |f| %>
  <% if @agreement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agreement.errors.count, "error") %> prohibited this agreement from being saved:</h2>

      <ul>
      <% @agreement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee %><br>
    <%= f.text_field :employee, :required => true %>
  </div>

  <br>

  <h3>Contact Information</h3>
  <table>
    <tr>
      <td><div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div></td>
      <td><div class="field">
        <%= f.label "Telephone" %><br />
        <%= f.text_field :phone %>
    </div></td>
    </tr>
    <tr>
      <td><div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div></td>
      <td><div class="field">
        <%= f.label "Mailbox" %><br />
        <%= f.text_field :mailbox %>
    </div></td>
    </tr>
    <tr>
      <td><div class="field">
        <%= f.label :wesid, "WesID" %><br />
        <%= f.text_field :wesid, :required => true %>
      </div></td>
    </tr>
  </table>

  <br>
  
  <h3>Performance Information</h3>

  <div class="field">
    <%= f.label :title, "Title Of Performance" %><br />
    <%= f.text_field :title %>
  </div>
  <table>
    <tr>
      <td><div class="field">
        <%= f.label :start, "Performance Start Date" %><br />
        <%= f.date_select :start %>
      </div></td>
      <td><div class="field">
        <%= f.label :end, "Performance End Date" %><br />
        <%= f.date_select :end %>
      </div></td>
    </tr>
    <tr>
      <td><div class="field">
        <%= f.label :due, "Due Date" %><br />
        <%= f.date_select :due, :default => 2.weeks.from_now %>
      </div></td>
      <td><div class="field">
        <%= f.label :financer, "Who Is Financing (Theater, Dance, or Other)?" %><br />
        <%= f.text_field :financer %>
      </div></td>
    </tr>
  </table>

  <br>

  <h3>Dry Cleaning Information</h3>  
  <table id="dryclean">
    <%= f.fields_for :drycleans, :wrapper => false do |d| %>
      <tr>
        <td><div class="field">
          <%= d.label "Invoice #" %><br>
          <%= d.number_field :invoice %>
        </div></td>
        <td><div class="field">
          <%= d.label :garment, "# of Garments" %><br>
          <%= d.number_field :garment %>
        </div></td>
      </tr>
    <% end %>
  </table>
  <%= f.link_to_add "Add Dry Cleaning Info", :drycleans, data: {target: "#dryclean"} %>

  <br>

  <h3>Costumes</h3>  
  <table id="costumes">
    <%= f.fields_for :costumes, :wrapper => false do |c| %>
      <tr>
        <td><div class="field">
          <%= c.label :cid, "ID #" %><br>
          <%= c.number_field :cid %>
        </div></td>
        <td><div class="field">
          <%= c.label :category, "Category" %><br>
          <%= c.text_field :category %>
        </div></td>
        <td><div class="field">
          <%= c.label :primary, "Primary Color" %><br>
          <%= c.text_field :primary %>
        </div></td>
        <td><div class="field">
          <%= c.label :secondary, "Secondary Color" %><br>
          <%= c.text_field :secondary %>
        </div></td>
        <td><div class="field">
          <%= c.label :period, "Time Period" %><br>
          <%= c.text_field :period %>
        </div></td>
        <td><div class="field">
          <%= c.label :label %><br>
          <%= c.text_field :label %>
        </div></td>
        <td><div class="field">
          <%= c.label :special, "Special Features" %><br>
          <%= c.text_field :special %>
        </div></td>
        <td><div class="field">
          <%= c.label :wd, "W/D" %><br>
          <%= c.text_field :wd %>
        </div></td>
        <td><div class="field">
          <%= c.label :value %><br>
          <%= c.text_field :value %>
        </div></td>
        <td><div class="field">
          <%= c.label :photo %><br>
          <%= c.file_field :photo %>
        </div></td>
        <td><div class="field">
          <%= c.label "Lost?" %><br>
          <%= c.check_box :lost %>
        </div></td>
        <td><div class="field">
          <%= c.label "In?" %><br>
          <%= c.check_box :back %>
        </div></td>
      </tr>
    <% end %>
  </table>
  <%= f.link_to_add "Add a costume", :costumes, data: {target: "#costumes"} %>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
