<h1>Listing agreements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Mailbox</th>
      <th>Wesid</th>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th>Due</th>
      <th>Financer</th>
      <th>Employee</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @agreements.each do |agreement| %>
      <tr>
        <td><%= agreement.name %></td>
        <td><%= agreement.phone %></td>
        <td><%= agreement.email %></td>
        <td><%= agreement.mailbox %></td>
        <td><%= agreement.wesid %></td>
        <td><%= agreement.title %></td>
        <td><%= agreement.start %></td>
        <td><%= agreement.end %></td>
        <td><%= agreement.due %></td>
        <td><%= agreement.financer %></td>
        <td><%= agreement.employee %></td>
        <td><%= link_to 'Show', agreement %></td>
        <td><%= link_to 'Edit', edit_agreement_path(agreement) %></td>
        <td><%= link_to 'Destroy', agreement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agreement', new_agreement_path %>
<%= link_to 'Back', root_path %>
