<p id="notice"><%= notice %></p>

Agreement created by <%= @agreement.employee %>

<br />

<h3>Contact Information</h3>
<p>
  <b>Name:</b>
  <%= @agreement.name %>

  <b>Telephone:</b>
  <%= number_to_phone(@agreement.phone, :area_code => true) %>
</p>

<p>
  <b>Email:</b>
  <%= @agreement.email %>

  <b>Mailbox:</b>
  <%= @agreement.mailbox %>
</p>

<p>
 <b>WesID:</b>
  <%= @agreement.wesid %>
  </p>


<br>

<h3>Performance Information</h3>
<p>
  <b>Title of Performance:</b>
  <%= @agreement.title %>
</p>

<p>
  <b>Performance Start Date:</b>
  <%= (@agreement.start) %>

  <b>Performance End Date:</b>
  <%= (@agreement.end) %>
</p>

<p>
  <b>Due Date:</b>
  <%= (@agreement.due) %>

  <b>Financer:</b>
  <%= @agreement.financer %>
</p>

<br>

<% unless @agreement.drycleans == [] %>
  <h2>Dry Cleaning Info</h2>
  <table border="1">
    <thead>
      <tr>
        <th>Invoice #</th>
        <th># of Garments</th>
      </tr>
    </thead>
    <tbody>
      <% for dryclean in @agreement.drycleans %>
        <tr>
          <td><%= dryclean.invoice %></td>
          <td><%= dryclean.garment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<% unless @agreement.costumes == [] %>
  <h2>Costumes</h2>
  <table border="1">
    <thead>
      <tr>
<<<<<<< HEAD
        <th>ID #</th>
        <th>Description</th>
        <th>W/D</th>
        <th>Photo</th>
        <th>In?</th>
=======
        <td><%= costume.cid %></td>
        <td><%= costume.description %></td>
        <td><%= costume.wd %></td>
        <td><%= link_to "Photo", "http://imgur.com/#{costume.photo}", 
                target: "_blank"%></td>
        <td><%= costume.back %></td>
>>>>>>> lost-damage
      </tr>
    </thead>
    <tbody>
      <% for costume in @agreement.costumes %>
        <tr>
          <td><%= costume.cid %></td>
          <td><%= costume.description %></td>
          <td><%= costume.wd %></td>
          <td><%= costume.photo %></td>
          <td><%= costume.back %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
