<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @agreement.customer %>
</p>

<p>
  <strong>Costume:</strong>
  <%= @agreement.costume %>
</p>

<p>
  <strong>Title:</strong>
  <%= @agreement.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @agreement.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @agreement.end %>
</p>

<p>
  <strong>Due:</strong>
  <%= @agreement.due %>
</p>

<p>
  <strong>Financer:</strong>
  <%= @agreement.financer %>
</p>

<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
