<p id="notice"><%= notice %></p>

Agreement created by <%= @agreement.employee %>

<br />

<h3>Contact Information</h3>
<p>
  <b>Name:</b>
  <%= @agreement.name %>

  <b>Telephone:</b>
  <%= number_to_phone(@agreement.phone, :area_code => true) %>
</p>

<p>
  <b>Email:</b>
  <%= @agreement.email %>

  <b>Mailbox:</b>
  <%= @agreement.mailbox %>
</p>

<p>
 <b>WesID:</b>
  <%= @agreement.wesid %>
  </p>


<br>

<h3>Performance Information</h3>
<p>
  <b>Title of Performance:</b>
  <%= @agreement.title %>
</p>

<p>
  <b>Performance Start Date:</b>
  <%= (@agreement.start) %>

  <b>Performance End Date:</b>
  <%= (@agreement.end) %>
</p>

<p>
  <b>Due Date:</b>
  <%= (@agreement.due) %>

  <b>Financer:</b>
  <%= @agreement.financer %>
</p>

<br>

<% unless @agreement.drycleans == [] %>
  <h2>Dry Cleaning Info</h2>
  <table border="1">
    <thead>
      <tr>
        <th>Invoice #</th>
        <th># of Garments</th>
      </tr>
    </thead>
    <tbody>
      <% for dryclean in @agreement.drycleans %>
        <tr>
          <td><%= dryclean.invoice %></td>
          <td><%= dryclean.garment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<% unless @agreement.costumes == [] %>
  <h2>Costumes</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID #</th>
        <th>Category</th>
        <th>Primary Color</th>
        <th>Secondary Color</th>
        <th>Time Period</th>
        <th>Label</th>
        <th>Special Features</th>
        <th>W/D</th>
        <th>Value</th>
        <th>Photo</th>
        <th>Lost?</th>
        <th>In?</th>
      </tr>
    </thead>

    <tbody>
      <% @agreement.costumes.each do |costume| %>
        <tr>
          <td><%= costume.cid %></td>
          <td><%= costume.category %></td>
          <td><%= costume.primary %></td>
          <td><%= costume.secondary %></td>
          <td><%= costume.period %></td>
          <td><%= costume.label %></td>
          <td><%= costume.special %></td>
          <td><%= costume.wd %></td>
          <td><%= costume.value %></td>
          <td><%= link_to 'Photo', "http://imgur.com/#{costume.photo}", target: "_blank" %></td>
          <% if costume.lost %><td>Yes</td><% else %><td>No</td><% end %> 
          <% if costume.back %><td>Yes</td><% else %><td>No</td><% end %> 
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
